.headline-text{
    margin-top: px;
}
.internship-blog{
    background: hsla(20, 100%, 98%, 1);

background: linear-gradient(45deg, rgb(250, 245, 242) 0%, rgb(248, 250, 252) 100%);

background: -moz-linear-gradient(45deg, rgb(250, 245, 242) 0%, rgb(246, 252, 255) 100%);

background: -webkit-linear-gradient(45deg, hsla(20, 100%, 98%, 1) 0%, rgb(249, 253, 255) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF7F3", endColorstr="#F1FAFF", GradientType=1 );
}

.headline-text-1{
    
}